* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.biggest-container {
    display: flex;
    height: 100vh;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
    background: #fff;
    list-style: none;
}

.container {
    margin-top: 30px;
    max-height: 450px;
    height: 100%;
    position: absolute;
    max-width: 900px;
    width: 100%;
    background: rgb(228, 207, 92);
    /* padding: 25px 30px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 grey;
}

.help-text {
    color: rgb(31, 26, 26);
    margin: 15px;
    left: 23%;
    font-weight: 500;
    position: relative;
}

.help-text p{
    margin: 5px;
}

.container .user-informations {
    /* justify-content: center; */
    position: relative;
    margin: 8px;
    font-weight: 500;
    /* left: 50px; */
    bottom: 200px;
}

.container form .editable-field {
    /* display:grid; */
    left: 22%;
    position: relative;
    margin: 20px;
}

.container form .editable-field input {
    width: 50%;
    height: 40px;
    padding: 10px;
    font-size: 15px;
}
.editable-field p{
    margin-bottom: 5px;
}

.submit-button {
    position: relative;
    height: 50px;
    /* margin: 30px 0; */
    bottom: 10px;
    left: 335px;
    
}

.submit-button input {
    margin-top: 5px;
    height: 100%;
    width: 20%;
    /* outline: none; */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background: #fff;
}