{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/set_password.css' %}">

    <!-- <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script> -->
    <!-- Your password can’t be too similar to your other personal information.
        Your password must contain at least 8 characters.
        Your password can’t be a commonly used password.
        Your password can’t be entirely numeric. -->

    <title>zanka no tachi</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="biggest-container">
      
        
        <div class="container">
            <div class="help-text">
                <p>-Your password can’t be too similar to your other personal information.</p>
                <p>-Your password must contain at least 8 characters.</p>
                <p>-Your password can’t be a commonly used password.</p>
                <p>-Your password can’t be entirely numeric.</p>
            </div>
            <form action="#" method="post">
                {% csrf_token %}
                <div class="editable-field">
                    <p>Old Password</p>
                    {{form.old_password}}
                </div>
                <div class="editable-field">
                    <p>New Password</p>
                    {{form.new_password1}}
                </div>
                <div class="editable-field">
                    <p>Confirm New Password</p>
                    {{form.new_password2}}
                </div>
                <div class="submit-button">
                    <input type="submit" value="Change Password">
                </div>
            </form>
        </div>
    </div>
</body>

</html>